{% extends "base.html" %}
{% block title %}
    <h2>Link User to Group: <span class="text-success">SUCCESS!</span></h2>
    <div class="alert alert-success" role="alert">
        <p class="lead">
        Your request to link the DCP user/service account <span class="alert-link">{{ email }}</span>
        with group(s) <span class="alert-link">{{ groups }}</span> was successful!
        </p>
        <p class="lead">
        View the pull request associated with this request on Allspark: <a class="alert-link" href="{{ pr_url }}">{{ pr_url }}</a>
        </p>
    </div>
{% endblock %}
